* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212b3a;
}

.container {
    height: 700px;
    width: 1000px;
    background-color:black;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    height: 95%;
    width: 4%;
    /* background-color: red; */
    border-radius: 10px;
}

.content {
    height: 95%;
    width: 90%;
    /* background-color: aliceblue; */
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card1 {
    height: 100%;
    width: 60%;
    /* background-color: black; */
}


#search {
  width: 70%;
  margin: 10px 0 10px 10px;
  padding: 5.5px;
  padding-left: 12px;
  border-radius: 20px 0 0 20px;
  background-color: white;
  color: black;
  outline: 0;
  border: 0;
  cursor: pointer;
}

#search::placeholder {
  color: white;
  font-size: medium;
}

button{
    width: 20%;
    text-align: center;
    border-radius: 0 20px 20px 0;
    font-size: 20px;
    outline: none;
    border: none;
    background-color:#3b82f6;
    color: white;
    padding: 0.6px 0 4px 0;
  }

  button:hover{
    background-color: #2563eb;
  }